<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                    <div class="row ">
                        <div class="col">
                            <input formControlName="patientName" type="text" class="form-control"
                                placeholder="Patient Name" aria-label="Patient Name">
                            <div class="error" *ngIf="!myForm.controls['patientName']?.valid && (myForm.controls['patientName']?.dirty
                                    ||myForm.controls['patientName']?.touched)">
                                Patient Name is required !!
                            </div>
                        </div>
                        <div class="col">
                            <input formControlName="age" type="number" class="form-control" placeholder="Age"
                                aria-label="Age">
                            <div class="error" *ngIf="!myForm.controls['age']?.valid && (myForm.controls['age']?.dirty
                                    ||myForm.controls['age']?.touched)">
                                Age is required !!
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <input formControlName="physicianName" type="text" class="form-control"
                                placeholder="Physician Name" aria-label="Physician Name">

                            <div class="error" *ngIf="!myForm.controls['physicianName']?.valid && (myForm.controls['physicianName']?.dirty
                                    ||myForm.controls['physicianName']?.touched)">
                                Physician Name is required !!
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input formControlName="gender" class="form-check-input" type="radio" name="gender"
                                    id="inlineRadio1" value="male">
                                <label class="form-check-label" for="inlineRadio1">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input formControlName="gender" class="form-check-input" type="radio" name="gender"
                                    id="inlineRadio2" value="female">
                                <label class="form-check-label" for="inlineRadio2">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input formControlName="gender" class="form-check-input" type="radio" name="gender"
                                    id="inlineRadio3" value="other">
                                <label class="form-check-label" for="inlineRadio3">Others</label>
                            </div>
                            <div class="error" *ngIf="!myForm.controls['gender']?.valid && (myForm.controls['gender']?.dirty
                            ||myForm.controls['gender']?.touched)">
                                Gender is required !!
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <select formControlName="prescribedTest" class="form-select" aria-label>
                                <option value="">Prescribed Test</option>
                                <option value="CBC">CBC</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="RTC">RTC </option>
                            </select>
                            <div class="error" *ngIf="!myForm.controls['prescribedTest']?.valid && (myForm.controls['prescribedTest']?.dirty
                            ||myForm.controls['prescribedTest']?.touched)">
                                prescribedTest is required !!
                            </div>
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col button-container" style="text-align: right;">
                            <button [disabled]="!myForm.valid" type="submit" class="btn-warning btn ">Add</button>
                            <button (click)=" myForm.reset()" class="btn-light btn">Reset</button>
                        </div>

                    </div>
                </form>
            </div>
            <div>

                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Patient Name</th>
                            <th scope="col">Physician Name</th>
                            <th scope="col">Prescribe Tests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let consultation of allConsultation">
                            <td>{{consultation.patientName}}</td>
                            <td>{{consultation.physicianName}}</td>
                            <td>{{consultation.prescribedTest}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>


        <div class="col">
            <app-chart [prescribedTestData]="allConsultation"></app-chart>
        </div>

    </div>
</div>