<div class="container-fluid">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand">LOGO</a>
      <div class="d-flex">

        <button class="btn btn-outline-success" type="submit">Logout</button>
      </div>
    </div>
  </nav>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Consultation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/physician" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:
        true}">Physician</a>
    </li>

  </ul>
</div>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>